html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inconsolata', monospace;
  font-size: 2em;
}

p, li, a, figcaption {
  font-family: 'Inconsolata', monospace;
}

a {
  text-decoration: none;
  color: #000;
}

h1 {
  font-size: 3em;
}

footer {
  margin-top: 100px;
}

figure {
  width: 40%;
}

figure img {
  width: 100%;
}

nav {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 3%;
  z-index: 20;
}

nav ul {
  list-style: none;
}

nav ul li {
  line-height: 40px;
  transition: 0.3s all linear;
  text-align: right;
}

nav ul li:hover {
  letter-spacing: 2px;
}

.container {
  width: 100%;
  position: relative;
}

.fig-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.fig-subheading {
  display: block;
  margin-top: 50px;
  width: 100%;
}

.main-content {
  margin: 0px 15vw;
}

.main-content:after {
  content: "";
  clear: both;
  display: table;
}

.set-height {
  height: 680px;
}

.extra-content {
  display: block;
  /* transition: all linear 1s; */
  max-height: 0px;
  overflow: hidden;
  border-bottom: 0px solid #eee;
}

.show-extra {
  max-height: 5000px;
  border-bottom-width: 1px;
}

.text-block {
  margin: 0px 15vw;
  line-height: 3em;
}

.align-center {
  text-align: center;
}

.text-block p {
  font-size: 18px;
  margin: 0px;
}

.hidden {
  display: none !important;
}

.modal {
  display: block;
  position: fixed;
  padding: 100px 10%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 40;
  text-align: center;
}

.no-pointer {
  cursor: default !important;
}

.logo-img {
  background-image: url("../img/figure.svg");
  background-size: contain;
  background-position: center;
  width: 50vh;
  height: 50vh;
}

.pull-left {
  display: inline-block;
  width: 50%;
  float: left;
  position: relative;
  height: 100%;
}

.pull-right {
  display: inline-block;
  width: 50%;
  float: right;
  position: relative;
  height: 100%;
}

.center {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.loadbox {
  padding: 25px 0px;
  transition: all linear 0.5s;
}

.circle {
  border-radius: 100%;
  width: 250px;
  height: 250px;
}

.loadbox .loader {
  position: relative;
  top: 25px;
  width: 0%;
  height: 5px;
  transition: all linear 1s;
  background-color: #555;
}

.loadbox:hover {
  cursor: pointer;
}

.loadbox:not(.no-pointer):hover h1 {
  color: #1357be;
}

.loadbox:not(.no-pointer):hover h3 {
  color: #1357be;
}

.loadbox:not(.no-pointer):hover .loader {
  background-color: #1357be;
}

.loadbox:hover .loader {
  width: 100%;
}

.grey {
  color: #666;
}

.subheading {
  display: inline-block;
  margin: 50px 0px;
}

.top-margin {
  margin-top: 50px;
}

.newspaper {
  /* Old Chrome, Safari, Opera */
  -webkit-column-count: 2;
  -webkit-column-width: 100px;

  /* Old Firefox */
  -moz-column-count: 2;
  -moz-column-width: 100px;

  /* Statndard syntax */
  column-count: 2;
  column-width: 100px;
  column-gap: 40px;
}

.indent {
  margin-left: 5px;
}

.doc-container {
    padding: 20px;
}

.doc-container p {
  display: inline-block;
  vertical-align: middle;
}

.doc-container:hover {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.doc-img {
  height: 150px;
  display: inline-block;
  vertical-align: middle;
}

.super-side-margins {
  margin-left: 10vw;
  margin-right: 10vw;
}

.team-img {
  width: 250px;
}

.team-profile {
  display: inline-block;
  text-align: center;
  padding: 25px;
  cursor: pointer;
}

.team-profile:hover {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.name {
  display: inline-block;
  padding: 20px;
  height: 100%;
  width: 250px;
}

#team:hover {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  cursor: pointer;
}
