body {
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  font-size: 2em;
}

p {
  display: inline-block;
}

h1 {
  font-size: 3em;
}

footer {
  margin-top: 100px;
}

.container {
  width: 100%;
  position: relative;
}

.main-content {
  margin: 0px 15vw;
  height: 67vh;
}

.main-content:after {
  content: "";
  clear: both;
  display: table;
}

.extra-content {
  transition: all linear 0.5s;
  height: 0px;
  overflow: hidden;
  border-bottom: 0px solid #eee;
}

.show-extra {
  height: 33vh;
  border-bottom-width: 1px;
}

.text-block {
  margin: 0px 15vw;
}

.logo-img {
  background-image: url("../img/A.jpg");
  background-size: cover;
  background-position: center;
  width: 50vh;
  height: 50vh;
  border-radius: 100%;
}

.pull-left {
  display: inline-block;
  width: 50%;
  float: left;
  position: relative;
  height: 100%;
}

.pull-right {
  display: inline-block;
  width: 50%;
  float: right;
  position: relative;
  height: 100%;
}

.center {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.loadbox {
  padding: 50px 0px;
  transition: all linear 0.5s;
}

.loadbox .loader {
  position: relative;
  top: 50px;
  width: 0%;
  height: 5px;
  transition: all linear 1s;
  background-color: #555;
}

.loadbox:hover {
  cursor: pointer;
}

.loadbox:hover .loader {
  width: 100%;
}

.grey {
  color: #666;
}

.subheading {
  display: inline-block;
}

.newspaper {
  /* Old Chrome, Safari, Opera */
  -webkit-column-count: 2;
  -webkit-column-width: 100px;

  /* Old Firefox */
  -moz-column-count: 2;
  -moz-column-width: 100px;

  /* Statndard syntax */
  column-count: 2;
  column-width: 100px;
  column-gap: 40px;
}

.doc-container {
    padding: 20px;
}

.doc-container p {
  display: inline-block;
  vertical-align: middle;
}

.doc-container:hover {
  background-color: #f9f9f9;
}

.doc-img {
  height: 150px;
  display: inline-block;
  vertical-align: middle;
}

.super-side-margins {
  margin-left: 10vw;
  margin-right: 10vw;
}
